{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="assets/css/vitrine.css">
{% endblock %}

{% block body %}
<div class="vitrine-container">
	{% for section, data in sections %}
		<div class="vitrine-section">
			<h2 class="vitrine-title">{{ section | capitalize }}</h2>
			<hr class="my-4">
			<p class="vitrine-text">{{ data.content | nl2br }}</p> <!-- Appliquer nl2br ici -->
			<div class="d-flex justify-content-center flex-wrap">
				{% for image in data.images %}
					<img class="mx-auto d-block" style="max-height:25vh; border: 1px solid; border-radius:10px;margin: 10px;"
						src="assets/images/vitrine/{{ image }}" alt="{{ section }}" class="vitrine-image">
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

{% if isAdmin %}
	<a href="gestionVitrine.php" id="floatingGestionVitrineButton" class="text-decoration-none">
		<i class="fa-solid fa-book p-1"></i> Gérer la vitrine
	</a>
{% endif %}
{% endblock %}
