/* Carte */
.card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Boutons principaux */
.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Boutons secondaires */
.btn-outline-primary {
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn[disabled] {
    opacity: 0.6; /* Rendre le bouton légèrement transparent */
    cursor: not-allowed; /* Changer le curseur pour indiquer qu'il est désactivé */
}

/* Formulaire */
.form-select {
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

/* Conteneur de l'avatar */
.avatar-container {
    display: inline-block;
    width: 150px; /* Augmentez la largeur */
    height: 150px; /* Augmentez la hauteur */
    border-radius: 50%;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Icône de l'avatar */
.avatar-icon {
    font-size: 6rem; /* Augmentez la taille de l'icône */
    color: #6c757d;
}

/* Style pour le bouton de gestion des utilisateurs */
#floatingGestionUtilisateurButton
{
    position: fixed;
    bottom: 10vh; /* Positionné à 10% au-dessus du bas de l'écran */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Ajuste pour centrer parfaitement */
    background-color: rgba(255, 0, 0, 0.8); /* Rouge avec transparence */
    color: white;
    border: none;
    border-radius: 30px; /* Bouton arrondi */
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
    z-index: 1000; /* Toujours au-dessus des autres éléments */
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none; /* Supprime le soulignement du texte */
    text-align: center;
}

#floatingGestionUtilisateurButton:hover
{
    background-color: rgba(255, 0, 0, 1); /* Rouge opaque au survol */
    transform: translateX(-50%) scale(1.05); /* Légère mise en avant au survol */
}