/* Conteneur principal du formulaire */
.product-form-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--form-background);
	border-radius: 10px;
	box-shadow: 0 4px 6px;
	text-align: center;
}

/* Titre du formulaire */
.form-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Formulaire */
.product-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* Groupe de formulaire */
.form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

/* Champs de formulaire */
.product-form input[type="text"],
.product-form input[type="number"],
.product-form input[type="file"] {
	width: 80%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 1rem;
	color: #333333 !important; /* Forcer le texte à rester noir */
	background-color: var(--form-input-bg);
}

/* Bouton de soumission */
.btn-primary {
	background-color: #007bff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color: #0056b3;
}

/* Conteneur pour l'aperçu de l'image */
.image-preview {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px dashed #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    background-color: var(--form-input-bg);
    margin: 0 auto; /* Centre la div horizontalement dans son conteneur parent */
}

/* Style pour l'image d'aperçu */
.image-preview img {
    cursor: pointer; /* Curseur en mode main */
    max-width: 100%; /* Ajuste la taille de l'image */
    max-height: 100%; /* Empêche l'image de dépasser la div */
    border-radius: 5px; /* Coins arrondis */
}

/* Conteneur parent pour aligner la div */
.form-group.image-preview {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    gap: 10px; /* Ajoute un espace entre les éléments */
}

/* Messages d'erreur */
.error-messages {
	color: red;
	font-size: 0.9rem;
	margin-top: 10px;
}

.error-messages ul {
	list-style: none;
	padding: 0;
}
