{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="assets/css/gestionActualite.css">
{% endblock %}

{% block body %}
<div class="actualite-container">
	<!-- Partie gauche : Fil d'actualités -->
	<div class="actualite-left">
		<h2 class="section-title">Fil d'actualités :</h2>
		<button class="btn btn-primary mb-3">+ Ajouter une actu</button>
		<div class="actualite-list">
			{% for actualite in actualites %}
				<div class="actualite-card">
					<p class="actualite-id d-none">{{ actualite.idActu }}</p>
					<h5 class="actualite-title">{{ actualite.titreActu }}</h5>
					<p class="actualite-desc">{{ actualite.descActu }}</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- Partie droite : Détails de l'actualité -->
	<div class="actualite-right">
		<h2 class="section-title">ID :</h2>
		<div class="form-group">
			<input type="text" class="form-control" id="inputId" placeholder="Titre de l'actualité" readonly>
		</div>
		<h2 class="section-title">Titre :</h2>
		<div class="form-group">
			<input type="text" class="form-control" id="inputTitre" placeholder="Titre de l'actualité">
		</div>
		<h2 class="section-title">Description :</h2>
		<div class="form-group">
			<textarea class="form-control" id="inputDesc" rows="5" placeholder="Description de l'actualité"></textarea>
		</div>
		<button class="btn btn-success">Enregistrer</button>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script src="assets/js/actualite.js"></script>
{% endblock %}
