{% extends '_template/base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="assets/css/accueil.css">
{% endblock %}

{% block body %}
<div class="most-popular">
    <div class="container">
        <div class="heading-section text-center mb-5">
            <h2 class="mb-4">Bienvenue dans notre boutique</h2>
            <p>Explorez nos produits populaires et découvrez des articles exclusifs à des prix compétitifs.</p>
        </div>
        <div class="event-container">
            {% for evenement in evenements %}
                <div class="event-card">
                    <!-- Image de l'événement -->
                    <img src="assets/images/{{ evenement.imgEvent }}"
                        alt="{{ evenement.nomEvent }}"
                        class="event-image">
                    <div class="event-content">
                        <h5 class="event-title">{{ evenement.nomEvent }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="assets/js/accueil.js"></script>
{% endblock %}
