{% extends '_template/base.html.twig' %}

{% block body %}
<div class="most-popular">
    <div class="container">
        <div class="heading-section text-center mb-5">
            <h2 class="mb-4">Bienvenue dans notre boutique</h2>
            <p>Explorez nos produits populaires et découvrez des articles exclusifs à des prix compétitifs.</p>
        </div>
        <div class="row">
			
        </div>
    </div>
</div>
{% endblock %}
